.main-box{
    height: 980px;
}
#DC #for-dit #DCForm #mkblack{
    color: rgb(180, 180, 22);
}
#sld-imgs{
    margin-top: 13%;
    margin-left: 8%;
    float: left;
    height: 70%;
    width: 40%;
    position: relative;
    overflow: hidden;
}
.slider{
    height: 99%;
    width: 99%;
    display: flex;
    border: 3px solid rgb(2, 235, 252);
    border-radius: 20px;
    overflow: hidden;
}
.slider > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5c ease-out;
}
.rebtn-forMask{
    display: none;
}
.sld-btns{
    margin-bottom: 3px;
    margin-left: 3px;
    height: 7%;
    width: 99%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sld-btns > label{
    height: 20px;
    width: 20px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.sld-btns > label:hover{
    background: cyan;
}
#rmask1:checked ~ #sld-imgs .slider > img:nth-child(1){
    margin-left: -20%;
}
#mask2:checked ~ #sld-imgs .slider > img:nth-child(2){
    margin-left: -100%;
}
#mask3:checked ~ #sld-imgs .slider > img:nth-child(3){
    margin-left: -200%;
}

/* Popup */
.popup{
    height: 640px;
}
.inner{
    margin-top: -20px;
}