/* Start page */
#startPageBody{
    background-color: #e8e8e8;
}
#buyPage{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
#h1{
    color: rgba(65, 10, 90, 0.842);
    text-align: center;
    font-size: 60px;
    font-family: 'Titan One';
    font-weight: 500;

}
#h2{
    margin-top: 80px;
    color: black;
    text-align: center;
    font-size: 50px;
    line-height: 20px;
    font-family: 'Titan One', cursive;
    font-weight: 500; 

}
#h3{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    line-height: 10px;
    font-family: 'Archivo Black', sans-serif;

}
.h4{
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0pc;
    text-align: center;
    color: black;
    font-family: 'Fredoka One', cursive;
    font-weight: 550;

}
.std{
    background-color: #f8f8f8;
    height: 550px;
    width: 296px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 50px;
    border-radius: 30px;
    float: left;
    box-shadow: 30px 20px 20px rgb(138, 138, 138);

}
.stimg{
    height: 150px;
    width: 150px;
    margin-left: 24%;
    border-radius: 30px;
    border: solid;
}
.dit{
    text-align: center;
    color: black;
    font-family: 'Righteous', cursive;
    padding-top: 0px;
    margin-bottom: 0px;
    border-top: 0px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}