/* Buy page */
*{
    margin: 0px;
    padding: 0px;
}
#Product-Page{
    font-family: sans-serif;
}
.logo{
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: fixed;
    z-index: 10;
    border: 2px solid #1325cc;
}


/* Top Nav Bar */
#topBar{
    position: sticky;
    z-index: 9;
}
#topNav1{
    height: 40px;
    background: linear-gradient(90deg, rgba(15,18,198,1) 0%, rgba(0,134,255,1) 50%, rgba(10,236,223,1) 100%);
}
#topUl1{
    text-align: center;
    margin-right: 25px;
    list-style: none;
}
.topLi1{
    display: inline-block;
    line-height: 40px;
    margin: 0 20px;
}
.topA{
    position: relative;
    padding: 5px 0;
    color: black;
    font-size: 16px;
    font-family: 'Alfa Slab One','cursive';
    text-decoration: none;
}
.topA:hover{
    background-color: black;
    border-radius: 15px;
    padding: 9px 15px;
    color: cyan;
    transition: 0.4s;
}
#i1, #i2, #i3, #i4, #i5, #i60{
    font-size: 15px;
    margin-left: 0;
    margin-right: 5px;
    line-height: 40px;
    cursor: pointer;
}
@media(max-width:800px){
    .topLi1{
        margin-right: 2px;
        text-align: center;
    }
    .topLi1 #sm, #au, #si{
        display: none;
    }
}


/* 2nd Nav Bar */
#top2ndBar{
    position: sticky;
    top: 0;
    z-index: 9;
}
#topNav2{
    height: 60px;
    width: 100%;
    background-color:aliceblue;
    border-bottom: solid;
    border-top: solid;
    border-color: black;
    border-width: 1px;
}
#topUl2{
    text-align: right;
    margin-right: 25px;
    list-style: none;
}
.topLi2{
    display: inline-block;
    line-height: 40px;
    margin: 10px 30px;
}
.topA2{
    color: black;
    font-size: 16px;
    font-family: 'Titan One', 'cursive';
    text-decoration: none;  
}
.topA2 i{
    margin-left: 5px;
    font-size: 15px;
    padding: 0px;
}
label #s1, label #s2{
    font-size: 20px;
    color: black;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#res-menu{
    display: none;
}
@media(max-width:1100px){
    label #s1{
        display: block;
    }
    #topUl2{
        position: fixed;
        width: 60%;
        height: 100%;
        background-color: aliceblue;
        backdrop-filter: blur(10px);
        top: 50px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
        z-index: 1;
    }
    .topLi2{
        display: block;
        margin-top: 80px;
        line-height: 5px;
    }
    .topA2{
        font-size: 16px;
    }
    #res-menu:checked ~ nav #topUl2{
        left: 0;
    }
    #res-menu:checked ~ label #s1{
        display: none;
    }
    #res-menu:checked ~ label #s2{
        display: block;
    }
}
/* Sub Menus */
.submenu{
    display: none;
}
.submenu-ul{
    list-style: none;
    text-align: center;
}
.topLi2:hover .submenu{
    display: block;
    position: absolute;
    background-color: aliceblue;
    margin-left: -40px;
    border-radius: 20px;
    border: 1px solid #000000;
    
}
.submenu-a{
    color: #000000;
    font-family: sans-serif;
    font-weight: 300;
}
.submenu-a:hover{
    color: #1215a8;
}
.submenu-1-li{
    margin-left: 30px;
    margin-right: 30px;
    width: 120px;
    padding-top: 15px;
    background: transparent;
    border-bottom: 1px dotted #000000;   
}
.submenu-1-li:last-child{
    border-bottom: none;
    padding-bottom: 5px;
}
.submenu-2-li{
    margin-left: 30px;
    margin-right: 30px;
    width: 130px;
    padding-top: 15px;
    background: transparent;
    border-bottom: 1px dotted #000000;   
}
.submenu-2-li:last-child{
    border-bottom: none;
    padding-bottom: 5px;
}
.submenu-3-li{
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;
    padding-top: 15px;
    background: transparent;
    border-bottom: 1px dotted #000000;   
}
.submenu-3-li:last-child{
    border-bottom: none;
    padding-bottom: 5px;
}
.submenu-4-li{
    margin-left: 30px;
    margin-right: 30px;
    width: 130px;
    padding-top: 15px;
    background: transparent;
    border-bottom: 1px dotted #000000;   
}
.submenu-4-li:last-child{
    border-bottom: none;
    padding-bottom: 5px;
}
@media(max-width:1100px){
    .topLi2:hover .submenu{
        margin-left: 20%;
        margin-top: 5px;
    }
    .submenu-1-li{
        margin-top: 15px;
        height: 20px;
        margin-bottom: 5px;
    }
    .submenu-2-li{
        margin-top: 15px;
        height: 20px;
        margin-bottom: 5px;
    }
    .submenu-3-li{
        margin-top: 15px;
        height: 20px;
        margin-bottom: 5px;
    }
    .submenu-4-li{
        margin-top: 15px;
        height: 20px;
        margin-bottom: 5px;
    }
}
/* intro */
.banner-area{
    background-image: url(../images/buy/buy\ top.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}
.filt{
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
.buyH1{
    font-family: 'Lobster', 'cursive';
    color: #ffffff;
    font-size: 100px;
    font-weight: 400;
    line-height: 70px;
    margin-left: 200px;
    padding-top: 120px;
}
.buyH1-2{
    font-family: 'Lobster', 'cursive';
    color: #ffffff;
    font-size: 100px;
    font-weight: 400;
    margin-left: 700px; 
}
.buyH2{
    font-family: 'Lobster', 'cursive';
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    word-spacing: 3px;
    margin-top: 120px;
    margin-left: 50px;
}
.buyH2-2{
    font-family: 'Lobster', 'cursive';
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    word-spacing: 3px;
    margin-left: 300px;
    
}
.buyH4{
    font-family: 'Fredoka One', cursive;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 650px;
    margin-top: -20px;
}
.buyH4-2{
    font-family: 'Fredoka One', cursive;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 650px;
    margin-top: -5px;
}
.buyH4-3{
    font-family: 'Fredoka One', cursive;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 650px;
    margin-top: -3px;
}
.buyH4-4{
    font-family: 'Fredoka One', cursive;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 650px;
    margin-top: -2px;
}
@media(max-width:1200px){
    .buyH1, .buyH1-2{
        text-align: center;
        margin-left: 0px;
        line-height: 80px;
    }
    .buyH2, .buyH2-2{
        text-align: center;
        margin-left: 0px;
    }
    .buyH4, .buyH4-2, .buyH4-3, .buyH4-4{
        display: none;
    }
}


/* Products */
/* Top Headings */
#deals1{
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    font-weight: 400px;
    margin-top: 20px;
    color: #0e1b68b4;
}
#deals2{
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    font-weight: 400px;
    color: rgba(194, 191, 40, 0.76);
}
#deals3{
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    font-weight: 400px;
    color: rgba(16, 167, 16, 0.76);
}
#deals4{
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    font-weight: 400px;
    color: rgba(158, 44, 24, 0.76);
}
.dealsBody1{
    margin-right: 30%;
    text-align: center;
}
.dealsBody2{
    margin-left: 30%;
    text-align: center;
}
/* Product Table */
.dealsDiv1{
    height: 300px;
    width: 70%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.dealsDiv2{
    height: 300px;
    margin-left: 30%;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
.com1{
    width: 300px;
    height: 200px;
    margin-left: 73%;
    margin-top: -250px;
    margin-bottom: 80px;
}
.com2{
    width: 300px;
    height: 200px;
    margin-left: 4%;
    margin-top: -250px;
    margin-bottom: 80px;
}
.temp1{
    font-size: 20px;
    font-family: 'Lobster', 'cursive';
    color: black;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.temp2{
    font-size: 20px;
    font-family: 'Lobster', 'cursive';
    color: black;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.temp3{
    font-size: 20px;
    font-family: 'Lobster', 'cursive';
    color: black;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.temp4{
    font-size: 20px;
    font-family: 'Lobster', 'cursive';
    color: black;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
@media(max-width:1110px){
    .com1{
        margin: 15px;
        padding: 0;
        height: 0px;
        width: 0px;
    }
    .com2{
        margin: 15px;
        padding: 0;
        height: 0px;
        width: 0px;
    }
    .temp1{
        display: none;
    }
    .temp2{
        display: none;
    }
    .temp3{
        display: none;
    }
    .temp4{
        display: none;
    }
    #deals1{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    #deals2{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    #deals3{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    #deals4{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}
/* Product Items */
a{
    text-decoration: none;
}
#proBarUl{
    list-style: none;
    margin-right: 2%;
    margin-left: 2%;
}
.proBarLi{
    display: inline-block;
    margin: 5px 20px;
}
.item{
    width: 250px;
    box-shadow: 20px 20px 15px rgba(255, 252, 252, 0.5);
    border-radius: 10px;
    margin: 5%;
    overflow: hidden;  
}
.slide-img{
    width: 250px;
    height: 210px;
    position: relative;
}
.slide-img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.type{
    display: flex;
    flex-direction: column;
}
.type a{
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 5px;
}
.text span{
    color: rgba(26, 26, 26, 0.5);
}
.price{
    color: #1e156d;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins; /* add font family*/
    letter-spacing: 0.5px;
}
.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.buy-btn:hover{
    color: #000000;
    background-color: #00eeff;
    transition: all ease 0.3s;
}
.overlay{
    visibility: hidden;
}
.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media(max-width:1325px){
    #it3, #it6, #it9, #it12{
        display: none;
    }
}
@media(max-width:890px){
    #it2, #it5, #it8, #it11{
        display: none;
    }
}


/* Bottom Pannel */
#bottom{
    width: 100%;
    height: 100%;
}
#botLast{
    margin-top: 10%;
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
}


/*footer*/
#logo{
    position: fixed; 
    margin-top: 5px;
    width: 70px; 
    height: 70px; 
    left: 10px;
    overflow: hidden; 
    border-radius: 50%;
    float: left;
    z-index: 10;
}
.down label{
    color: #ffffff;
}
.down button{
    padding: 3px 5px;
    border-radius: 10px;
}
.down input{
    padding: 4px 10px;
    border-radius: 5px;
}
.footer{
    text-align: center;
    position: absolute;
    color: #ffffff;
    left: 0;
    width: 100%;
    background: rgba(51, 49, 49, 0.995);
}
.down_link a{
    color: #00eeff;
}