#topNav1{
    background: linear-gradient(90deg, rgba(197,165,233,1) 0%, rgba(166,82,230,1) 50%, rgba(52,23,97,1) 100%);
}

.topA:hover{
    color: rgb(166, 84, 243);
}
#topBar{
    top: -16px;
}


body{
    margin:0px;
	background-color:#586060;
	font-family: 'Roboto', sans-serif;
	width:100%;
	background-size:cover;
    position: absolute;
}

/*Styles to top botton */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	border: none;
	font-size: 18px;
	background-color: #bf0010;
	color: white;
	padding: 15px;
	border-radius: 4px;
	opacity: 0.7;
}

#myBtn:hover {
	background-color: #555;
}


/*Styles to drop box*/
#background,#fontcolor{display:none;
    color:white;}

/*Styles to drop box*/
#bg,#font{
float:right;
width:90px;
border:1px solid grey;
padding:6px;
margin:2px;
color:white;
text-align:center;
background-color:black;
}

/*Styles to heading*/
#g_h1{text-align:center;
	font-size: 100 px;
	font-family: 'B612';
	outline: 2px solid white;
	background-color:white;
	width:500px;
	position:absolute;
	left:350px;}


/* The grid: Four equal columns that floats next to each other */

/*grid*/

.grid-col{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0rem;
    padding: 5px;
    list-style-type: none;
    margin: 2px;
    gap: 1rem;
    object-fit:cover;
    background-color: #ffffff;
    margin: auto;
    page-break-after: auto;
    cursor: pointer;
    
}




/* The expanding image container */
.container {
    
    display: none; /* Hidden by default / position: fixed; / Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */ 
    width: 100%; /* Full width */
    height:100%; /* Full height */
    overflow: visible; /* Enable scroll if needed */ 
    align-items: center;
}



/* Expanding image text */
#imgtext {
    width: 100%;
    max-width: 600px;
    padding-bottom: 50px;
    padding-top: 80px;
    margin: auto;
    
    text-align: left;
    font-size: 22px;
}


/* Closable button inside the expanded image */
.closebtn {
    float: right;
    color: rgb(0, 0, 0);
    font-size: 40px;
    cursor: pointer;
}

/*footer*/
.down_link a{
    color: rgb(166, 84, 243);
}
