/* Logo */
.logo{
    margin-top: 30px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: fixed;
    z-index: 10;
    border: 2px solid #001aff;
}


/* Top Nav Bar */
#topBar{
    position: fixed;
    z-index: 9;
    width: 100%;
}
#topNav1{
    height: 40px;
}
#topUl1{
    text-align: center;
    margin-right: 25px;
    list-style: none;
}
.topLi1{
    display: inline-block;
    line-height: 40px;
    margin: 0 20px;
}
.topA{
    position: relative;
    padding: 5px 0;
    color: black;
    font-size: 16px;
    font-family: 'Alfa Slab One','cursive';
    text-decoration: none;
}
.topA:hover{
    background-color: black;
    border-radius: 15px;
    padding: 9px 15px;
    transition: 0.4s;
}
#i1, #i2, #i3, #i4, #i5, #i60, #i61{
    font-size: 15px;
    margin-left: 0;
    margin-right: 5px;
    line-height: 40px;
    cursor: pointer;
}
@media(max-width:800px){
    .topLi1{
        margin-right: 2px;
        text-align: center;
    }
    .topLi1 #sm, #au, #si{
        display: none;
    }
}

/*footer*/
#logo{
    position: fixed; 
    margin-top: 5px;
    width: 70px; 
    height: 70px; 
    left: 10px;
    overflow: hidden; 
    border-radius: 50%;
    float: left;
    z-index: 10;
}
.down label{
    color: #ffffff;
}
.down button{
    padding: 3px 5px;
    border-radius: 10px;
}
.down input{
    padding: 4px 10px;
    border-radius: 5px;
}
.footer{
    text-align: center;
    position: absolute;
    color: #ffffff;
    left: 0;
    width: 100%;
    background: rgba(51, 49, 49, 0.995);
}
.down_link a{
    text-decoration: none;
}