*{
    margin: 0px;
    padding: 0px;
} 
/* Nav Bar */
#topNav1{
    background: linear-gradient(90deg, rgba(15,18,198,1) 0%, rgba(0,134,255,1) 50%, rgba(10,236,223,1) 100%);
}
.topA:hover{
    color: cyan;
}

/* Buy */
.main-box{
    margin: 5% 5%;
    padding: 0;
    height: 840px;
    border: solid;
    color: aqua;
    border-radius: 20px;
    filter: blur(0);
}
.new-main-box{
    filter: blur(10px);
}
#for-img{
    float: left;
    height: 100%;
    width: 50%;
}
#for-img img{
    width: 70%;
    height: 70%;
    margin: 25% 20%;
    border: 3px solid rgb(2, 235, 252);
    border-radius: 20px;
}
#for-dit{
    margin-left: 51%;
    height: 100%;
}
#for-dit h1{
    text-align: center;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: blue;
}
#for-dit p{
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
#for-dit h2{
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 900;
}
#for-dit form{
    padding-left: 20px;
    padding-right: 20px;
    color: black;

}
/* All Ul nad Li */
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin-right: 50px;
    
}
/*user name*/
#nameDiv{
    width: 200px;
    height: 30px;
    position: relative;
}
#nameDiv input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nameDiv label{
    position: absolute;
    top: -15px;
    background-color: white;
    left: 15px;
    color: rgb(15, 23, 146);
    font-size: 18px;
    pointer-events: none;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*email*/
#emailDiv{
    width: 200px;
    height: 30px;
    position: relative;
}
#emailDiv input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#emailDiv label{
    position: absolute;
    top: -15px;
    background-color: white;
    left: 15px;
    color: rgb(15, 23, 146);
    font-size: 18px;
    pointer-events: none;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Contact Number*/
#contactNumDiv{
    width: 200px;
    height: 30px;
    position: relative;
}
#contactNumDiv input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#contactNumDiv label{
    position: absolute;
    top: -15px;
    background-color: white;
    left: 15px;
    color: rgb(15, 23, 146);
    font-size: 18px;
    padding: 0 5px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Coupon Number*/
#couponDiv{
    width: 200px;
    height: 30px;
    position: relative;
}
#couponDiv input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#couponDiv label{
    position: absolute;
    top: -15px;
    left: 15px;
    color: rgb(15, 23, 146);
    font-size: 18px;
    padding: 0 5px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
}
/*Address*/
#addDiv{
    width: 400px;
    height: 60px;
    position: relative;
}
#addDiv textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#addDiv label{
    position: absolute;
    top: -15px;
    left: 15px;
    color: rgb(15, 23, 146);
    font-size: 18px;
    padding: 0 5px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
}
/*Bank Card Number*/
#bankcardDiv{
    width: 200px;
    height: 30px;
    position: relative;
}
#bankcardDiv input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    text-align: center;
    padding: 5px 5px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#bankcardDiv label{
    position: absolute;
    top: -15px;
    left: 15px;
    color: rgb(15, 23, 146);
    font-size: 18px;
    padding: 0 5px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
}
/*Month and Year*/
#CardMonthAndDateDiv{
    width: 80px;
    height: 30px;
    position: relative;
}
#CardMonthAndDateDiv input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    text-align: center;
    padding: 5px 5px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#CardMonthAndDateDiv label{
    position: absolute;
    top: -15px;
    left: 15px;
    color: rgb(15, 23, 146);
    font-size: 18px;
    padding: 0 5px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
}
/*Pin Number*/
#pinDiv{
    width: 50px;
    height: 30px;
    position: relative;
}
#pinDiv input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    text-align: center;
    padding: 5px 5px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#pinDiv label{
    position: absolute;
    top: -15px;
    left: 13px;
    color: rgb(15, 23, 146);
    font-size: 18px;
    padding: 0 5px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
}
/* Type */
.g-kg{
    color: rgb(15, 23, 146);
    font-size: 18px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 50px;
}
.q-t{
    color: rgb(15, 23, 146);
    font-size: 18px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Quantity */
.quantity, #quantity{
    width: 50px;
    height: 100%;
    margin-left: 30px;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* Tot Amount */
.tot-amo, #tot-amount{
    width: 60px;
    height: 100%;
    margin-left: 60px;
    margin-right: -27px;
    background: transparent;
    border: 2px solid rgb(178, 178, 253);
    border-radius: 10px;
    outline: none;
    padding: 5px 0px;
    padding-right: 15px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#tot-amount{
    margin-left: 10px;
}
/* Buttons */
.btn1{
    border-radius: 10px;
    border: solid blue;
    background-color: aqua;
    font-size: 16px;
    font-weight: 700;
    margin-left: 370px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn2{
    border-radius: 10px;
    border: solid blue;
    background-color: aqua;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Mask Type */
#mktp{
    color: rgb(15, 23, 146);
    font-size: 18px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mktype{
    color: rgb(15, 23, 146);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
}
#mkblack{
    color: rgb(0, 0, 0);
}
#mkred{
    color: rgb(255, 0, 0);
}

/* Popup */
.popup{
    width: 400px;
    height: 550px;
    background-color: #ffffff;
    border-radius: 30px;
    border: solid 2px blue;
    position: absolute;
    margin-top: 8%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4ms;
    filter: blur(0px);
}
.new_pop{
    top: 60%;
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 150px;
    height: 150px;
    margin: -70px;
}
.popup h2{
    font-size: 30px;
    margin: 70px;  
}
.popup p{
    position: relative;
    bottom: 10%;
}
.popup button{
    margin-top: 10%;
    margin-inline: 6px;
    position: relative;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(
        130deg,
        #6de4f4,
        #467df5
    );
}
.popup hr{
    position: relative;
    bottom: 8%;
}
.inner p{
    position: relative;
    text-align: left;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    word-spacing: 1px;
}
.inner hr{
    left: 25%;
}


/* Footer */
.down_link a{
    color: #00eeff;
}