*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
a{
    color: aliceblue;
}

/*Top Nav Bar */
#topBar{
    top: -1px;
}
#topNav1{
    background: linear-gradient(90deg, rgba(255,147,241,1) 0%, rgba(170,71,250,1) 50%, rgba(60,70,247,1) 100%);
}
#img-logo-quz{
    top: -1px;
}
.topA:hover{
    color: rgb(203, 122, 235);
}

body 
{
    margin-top: 150px;
    padding: 0;
    background-color: #271d33;
    font-family: 'Poppins', sans-serif ;

}


.main-heading 
{
    font-family: 'Lobster', 'cursive';
    color: #b02121;
    text-align: center;
    font-size: 90px;
    
}


.quote 
{   
    margin-top: 30px;
    color: #b02121;
    text-align: center;
    font-size: 45px;
    font-family: 'Edu VIC WA NT Beginner', cursive;

}

.writer
{
    color: #b02121;
    text-align: right;
    margin-right: 15%;
    font-size: 45px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    margin-top: 30px;
    margin-bottom: 30px;

}


.container 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    flex-wrap: wrap;
    z-index: 1;

}


.container .card 
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 13px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);  

}


.container .card .content .image 
{
    display: block;
    width: 100%;
    height: auto;

}


.container .card .content .image img 
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.container .card .content .details 
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s;

}


.container .card:hover .details 
{
    height: 100%;

}


.container .card .details h2
{
    position: relative;
    margin-top: 40%;
    font-size: 1.2cm;
    color: white;
    
}


.container .card .details p 
{
    font-size: 0.8cm;
    color: white;
   
}

.footer {
    margin-top: 10%;
}
/*footer*/
.down_link a{
    text-decoration: none;
    color: rgb(214, 131, 247);
}